<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <head>
        <meta charset="UTF-8">
      	<meta http-equiv="X-UA-Compatible" content="IE=edge">
      	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      	<title>Jonatan's Birthday</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="assets/style.css">
        <script src="https://code.jquery.com/jquery-3.4.0.min.js"integrity="sha256-BJeo0qm959uMBGb65z40ejJYGSgR7REI4+CW1fNKwOg="crossorigin="anonymous"></script>
    </head>
</head>
    <body>
        <div class="container">
            <div class="row" align="center">
                <p style="padding-right: 35px;">Beginning</p>
                <a href="year1.html">1st Year</a>
                <a href="year2.html">2nd Year</a>
                <a href="year3.html">3rd Year</a>
                <a href="year4.html">4th Year</a>
                <a href="year5.html">5th Year</a>
            </div>
            <br><br>
            <h1><center><i>Remembering our special moment 5 years ago ... </i></center></h1>
            <br>
            <center><h1><i>Welcome Canatan "Jonatan" Wilson White</i></h1></center>
            <center><a href="https://drive.google.com/file/d/1zDOjHBHZI7xRXf8P6vEQfG4YvkjvWZxm/view?usp=sharing" target='_blank'>Click here to watch full video via Google drive</a></center>
            <div class="row">
                    <video width="1280" height="960" controls>
                        <source src="assets/5th_birthday/img/Welcome-Canatan!.mp4" type="video/mp4">
                        <source src="assets/5th_birthday/img/Welcome-Canatan!.ogg" type="video/ogg">
                        Your browser does not support the video tag.
                    </video>
            </div>
        </div>
    </body>
</html>
