<html lang="en">
  <head>
    <meta charset="UTF-8">
  	<meta http-equiv="X-UA-Compatible" content="IE=edge">
  	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  	<title>Jonatan's Birthday Memories</title>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/style.css">
    <script src="https://code.jquery.com/jquery-3.4.0.min.js"integrity="sha256-BJeo0qm959uMBGb65z40ejJYGSgR7REI4+CW1fNKwOg="crossorigin="anonymous"></script>
  	<script src="assets/main.js"></script>
  </head>
  <body>
      <nav class="navbar navbar-default">
          <span>
          <ul class="nav">
            <li><a href="birth.html">The Beginning</a></li>
            <li><a href="year1.html">1st Year</a></li>
            <li><a href="year2.html">2nd Year</a></li>
            <li><a href="year3.html">3rd Year</a></li>
            <li><a href="year4.html">4th Year</a></li>
            <li><a href="year5.html">5th Year</a></li>
          </ul>
          </span>
      </nav>
    <svg viewBox="0 0 425 300">
      <path id="curve" d="M6,150C49.63,93,105.79,36.65,156.2,47.55,207.89,58.74,213,131.91,264,150c40.67,14.43,108.57-6.91,229-145" />
      <text x="25">
        <textPath xlink:href="#curve">
          Jonatan's Birthday Memories
        </textPath>
      </text>
    </svg>
  </body>
</html>


<!-- The Modal -->
<!-- <div id="rsvpForm" class="modal"> -->

  <!-- Modal content -->
  <!-- <div class="modal-content">
    <span class="close">&times;</span>
    <p>Please fill out the following ... </p>
    <form>

        <div class="form-group">
          <label for="childName">Child's Name</label><br>
          <input id="childName" placeholder="Child's Name" style="width: 100%;">
        </div>

        <div class='row'>
          <div class='col-4'>
            <div class="form-group">
              <label for="parentName">Parent's name</label>
              <input type="text" id="parent1Name" placeholder="Parent's Name" style="width: 60%;">
            </div>
          </div>
          <div class='col-4'>
            <div class="form-group">
              <label for="parentPhone">Parent's phone</label>
              <input type="text" id="parent1Phone" placeholder="Parent's Phone" style="width: 30%;">
            </div>
          </div>
          <div class='col-4'>
            <div class="form-group">
              <label for="parentEmail">Parent's Email</label>
              <input type="email" id="parent1Email" placeholder="Parent's Email" style="width: 70%;">
            </div>
          </div>
      </div>

      <div class='row'>
        <div class='col-4'>
          <div class="form-group">
            <label for="parentName">Parent's name</label>
            <input type="text" id="parent2Name" placeholder="Parent's Name" style="width: 60%;">
          </div>
        </div>
        <div class='col-4'>
          <div class="form-group">
            <label for="parentPhone">Parent's phone</label>
            <input type="text" id="parent2Phone" placeholder="Parent's Phone" style="width: 30%;">
          </div>
        </div>
        <div class='col-4'>
          <div class="form-group">
            <label for="parentEmail">Parent's Email</label>
            <input type="email" id="parent2Email" placeholder="Parent's Email" style="width: 70%;">
          </div>
        </div>
    </div>

    <div class='row'>
      <div class='col-4'>
        <div class="form-group">
          <label for="numberGuests">Number coming in your party (including child)</label>
          <input type="text" id="numberGuests" placeholder="Number coming">
        </div>
      </div>
      <div class='col-8'>
        <label for="whoGuests">Tell us who is coming</label>
        <div class="form-group">
          <textarea id="nameGuests" rows="4" cols="75"></textarea>
        </div>
      </div>
    </div>

    <label for="comments">Comments/Questions?</label>
    <div class="form-group">
      <textarea id="comments" rows="4" cols="116"></textarea>
    </div>
    <br>
    <p>For more information, you may reach William at 719-200-4284 or Cagla at 720-382-8039</p>
    <br><br>
    <button type="button" class="btn btn-primary" id='submit'>Submit</button>
  </form>
</div> -->

<!-- </div> -->
